<html>
<head>
    <title>About Me</title
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</nav>

<h2>About Me</h2>
<p>
I completed my high school on 2025 from Commerce stream with major (Finance) and currently, I'm learnig python programming 
</p>

</body>
</html>