<!DOCTYPE html>
<html>
<head>
    <title>Saurabh | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</nav>

<section class="hero">
    <h1>Hi, I'm Saurabh 👋</h1>
    <p>Finance → Computer Science</p>
    <p>Python | Programming | Tech</p>

    <a class="btn" href="{{ url_for('static', filename='resume.pdf') }}" download>
        Download Resume
    </a>
</section>

</body>
</html>
