<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</nav>


<h2>My Projects</h2>

<ul>
    <li> Hand Gesture Control using Python and Mediapipe</li>
    <li> 3D Objects & Animations</li>
    <li> Beginner Python Programs</li>
    <li> Personal Portfolio Website</li>
</ul>

</body>
</html>